<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 4 + 5 + 1 %>
    </h1>

    <p>
        <%= 'hola mundo' .toUpperCase() %> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, maiores
            quaerat, ut accusamus numquam iste
            cupiditate sunt totam recusandae quis molestiae voluptatem tenetur consequuntur vero quo modi ad explicabo
            incidunt. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores optio accusantium fugiat at,
            sit
            reprehenderit accusamus deserunt doloremque ipsam alias minima praesentium tempore! At quo voluptate, minus
            facilis illo vel.
    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas et eos possimus sed illo vero quae excepturi vel
        deleniti odit?</p>

</body>

</html>